// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

.posts-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    .content {
        h2 {
            color: crimson;
            margin: 0;
        }
    }
    .buttons {
        display: flex;
        align-items: center;
        button, a, form {
            margin: 5px 10px;
            height: 38px;
            display: block;
        }
        form {
            display: flex;
            align-items: center;
            margin: 0;
        }
    }
}
textarea.form-control {
    min-height: 200px;
}